name: Build FreeBSD Cloud Image (UFS)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    paths:
      - '**/*.sh'  # Trigger workflow only when build shell scripts change
  schedule:
    - cron: '15 04 15 */3 *' # once a quarter

permissions:
  pull-requests: write
  contents: write
  issues: write

jobs:
  generate:
    name: Build FreeBSD cloud-init Image
    runs-on: ubuntu-latest

    env:
      GH_TOKEN : ${{ secrets.GITHUB_TOKEN }}

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      id: checkout
      with:
        lfs: true

    - name: Build image within FreeBSD VM
      uses: vmactions/freebsd-vm@9832a7f21715c1303a1b9e7c00f96508266b4e09
      id: build
      with:
        envs: 'GH_TOKEN'
        usesh: true
        sync: nfs
        cpu: 2
        mem: 4096
        prepare: |

        run: |
          pwd
          ls -lah
          whoami
          env
          freebsd-version
          uname -a
          if [ ! -d "./images" ]; then mkdir -p ./images; fi
          cd images
          sh ../scripts/build.sh -f ufs
          for file in *.raw; do tar cf - $file | gzip -9 > freebsd-ufs.tar.gz; done
          ls -lah freebsd-ufs.tar.gz
          sha256 freebsd-ufs.tar.gz

    - name: Upload to AWS S3
      uses: hkusu/s3-upload-action@df0d0d688ce4593c477be764d08f63566dfd968e
      id: upload
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}
        aws-bucket: ${{ secrets.AWS_BUCKET }}
        file-path: './images/freebsd-ufs.tar.gz'
        destination-dir: '/'
        output-file-url: 'true'
        public: 'true'

    - name: Show URL
      id: display_url
      run: echo '${{ steps.upload.outputs.file-url }}'
